<h4><a href="{{_id}}", target="_blank">{{_name}}</a></h4>
<div height="{{_height}}", width="{{_width}}">
  <ul>
    {{#_properties}}
      <li><b>{{key}}</b>: {{value}}</li>
    {{/_properties}}
  </ul>
</div>
